@model IEnumerable<Horario>

<h2>Registrar Asistencia</h2>

<ul class="list-group">
    @foreach (var horario in Model)
    {
        <li class="list-group-item">
            Curso: @horario.Grado.Nombre - Materia: @horario.Materia.Nombre
            <a asp-action="ListaEstudiantes" asp-route-horarioId="@horario.Id" class="btn btn-primary btn-sm float-end">Registrar Asistencia</a>
        </li>
    }
</ul>
