@model Estudiante

<h2>Editar Estudiante</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre del Estudiante</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="GradoId" class="form-label">Grado</label>
        @Html.DropDownListFor(model => model.GradoId, (SelectList)ViewBag.Grados, "Seleccione un grado", new { @class = "form-select" })
        <span asp-validation-for="GradoId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NombreAcudiente" class="form-label">Nombre del acudiente</label>
        <input asp-for="NombreAcudiente" class="form-control" />
        <span asp-validation-for="NombreAcudiente" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ContactoPadres" class="form-label">Contacto del acudiente</label>
        <input asp-for="ContactoPadres" class="form-control" />
        <span asp-validation-for="ContactoPadres" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
